{% load staticfiles %}
{% load static %}
{% load fontawesome_5 %}
{% load bootstrap4 %}
<!doctype html>
<html lang="en">
  <head>
    <title>Forecite</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% fontawesome_5_static %} 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">

    {% block stylesheet %}
    {% endblock %}

  </head>
  <body>
    <div class="container_part">
        <img src="{% static 'img/back1.png' %}" class="back" />
        <div class="header container">
            <img src="{% static 'img/logo.png' %}" class="logo" />
            <div class="navbar">
                <ul>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Companies</a></li>
                    <li><a href="#">Employers</a></li>
                    <li><a href="#">Career advice</a></li>
                    <li><a href="#">Submit a review</a></li>
                    <li class="signupbut"><a href="#"><img src="{% static 'img/user_icon.png' %}" />Sign Up</a></li>
                </ul>
            </div>
        </div>
        <div class="slide_content container">
            <div class="col-md-5 right-text">
                <h1>Find the right work environment for you</h1>
                <p>How do people really feel. Honest reviews on company’s diversity, equity and inclusion initiatives. Is it the right fit for you?</p>
            </div>
            <div class="clear"></div>
            <div class="col-md-9 subscription">
                <input type="text" class="subscription_text form-control" placeholder="Search company name" />
                <input type="button" value="Find" class="btn" />
            </div>
        </div>
        <div class="down-but"><i class="fa fa-angle-down"></i></div>
    </div>
    {% block content %}
    {% endblock %}
    <div class="footer">
        <img src="{% static 'img/bottom_image.png' %}" class="back" />
        <div class="container">
            <div class="review_form col-md-9">
                <h1><span>Career insights</span> to give you Forecite.</h1>
                <input type="button" class="btn" value="Submit a review" />
            </div>
            <div class="footer-menu row">
                <div class="col-md-4">
                    <div class="footer_logo">
                        <img src="{% static 'img/logo.png' %}" />
                        <p>Autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                        <div class="social_icons">
                            <div class="icon"><i class="fab fa-facebook-f"></i></div>
                            <div class="icon"><i class="fab fa-linkedin-in"></i></div>
                            <div class="icon"><i class="fab fa-twitter"></i></div>
                            <div class="icon"><i class="fab fa-instagram"></i></div>
                            <div class="icon"><i class="fab fa-youtube"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Useful links</h3>
                    <div class="links">
                        <ul class="col-md-6">
                            <li><i class="fa fa-caret-right"></i>About us</li>
                            <li><i class="fa fa-caret-right"></i>Press</li>
                            <li><i class="fa fa-caret-right"></i>Contact</li>
                            <li><i class="fa fa-caret-right"></i>Work with us</li>
                        </ul>
                        <ul class="col-md-6">
                            <li><i class="fa fa-caret-right"></i>Privacy</li>
                            <li><i class="fa fa-caret-right"></i>Terms</li>
                            <li><i class="fa fa-caret-right"></i>Guidelines</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Contacts</h3>
                    <p>The city<br>Address: 2545 PTY Causeway<br>Phone: 584125217262<br>Email: yourmail@forecite.com</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Javascripts -->    
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
