
{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load bootstrap4 %}

{% block stylesheet %}
<link rel="stylesheet" href={% static 'css/home.css' %} >
{% endblock %}

{% block content %}
<div id="home-hero" class="container-fluid">
  <div class="overlay"></div>
  <form>
    <div class="inline-search">
      <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Find</button>
      <input type="text" placeholder="Search Company Name">
    </div>
  </form>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="lead text-center">The only review site that offers complete transparency</p>
      <p>In sit amet condimentum felis, quis finibus sapien. Nunc felis nisi, pellentesque accumsan diam ut, accumsan porta turpis. Pellentesque maximus nec ipsum id condimentum. Integer consequat, massa eget laoreet scelerisque, sapien turpis varius urna, et tempor justo nisl eu lectus. Mauris vestibulum nibh id tortor varius, vitae dictum tortor maximus. Fusce vel dignissim turpis, a pulvinar enim. Sed imperdiet tellus ac ornare semper.</p>
    </div>
  </div>
  <div class="row">
    <div id="cta-boxes">
      <div class="box">
        <h5>Are you an Employer?</h5>
        <p><button class="btn btn-secondary">Sign Up Today!</button></p>
      </div>
      <div class="box">
        <h5>Are you a jobseeker?</h5>
        <p><button class="btn btn-secondary">Write a Review Today!</button></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

