
{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load bootstrap4 %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container_part">
    <img src="{% static 'img/back2.png' %}" class="back" />
    <div class="container second_content">
        <div class="col-md-9">
            <h1>What makes Forecite different?</h1>
            <p>Our reviews rate companies from the perspective of people of color with more data on the reviews experience and background.</p>
        </div>
        <div class="row">
            <div class="col-md-3 grid_item">
                <div class="icon">
                    <img src="{% static 'img/icon1.png' %}" />
                </div>
                <h3>Assessments on Diversity, equity and inclusion initiatives</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <div class="col-md-3 grid_item">
                <div class="icon">
                    <img src="{% static 'img/icon2.png' %}" />
                </div>
                <h3>Leadership and Culture</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <div class="col-md-3 grid_item">
                <div class="icon">
                    <img src="{% static 'img/icon3.png' %}" />
                </div>
                <h3>Age</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <div class="col-md-3 grid_item active">
                <div class="icon">
                    <img src="{% static 'img/icon4.png' %}" />
                </div>
                <h3>Gender</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <div class="col-md-3 grid_item">
                <div class="icon">
                    <img src="{% static 'img/icon5.png' %}" />
                </div>
                <h3>Ethnic and Racial Background</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <div class="col-md-3 grid_item">
                <div class="icon">
                    <img src="{% static 'img/icon6.png' %}" />
                </div>
                <h3>Salary</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <div class="col-md-3 grid_item">
                <div class="icon">
                    <img src="{% static 'img/icon7.png' %}" />
                </div>
                <h3>Number of years of experience</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <div class="col-md-3 grid_item">
                <div class="icon">
                    <img src="{% static 'img/icon8.png' %}" />
                </div>
                <h3>Educational attainment</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
        </div>
    </div>
</div>
<div class="workwithus">
    <div class="container">
        <h1>Looking for diverse talent? Become a Forecite Partner</h1>
        <input type="button" class="btn" value="Work with us" />
    </div>
</div>
<div class="carousel">

</div>
<div class="companies_list container">
    <h1 class="col-md-9">Companies that trust in Forecite</h1>
    <p class="col-md-9">Autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
    <div class="image_list">
        <img src="{% static 'img/company1.png' %}" />
        <img src="{% static 'img/company2.png' %}" />
        <img src="{% static 'img/company3.png' %}" />
        <img src="{% static 'img/company4.png' %}" />
        <img src="{% static 'img/company5.png' %}" />
        <img src="{% static 'img/company6.png' %}" />
        <img src="{% static 'img/company7.png' %}" />
        <img src="{% static 'img/company8.png' %}" />
        <img src="{% static 'img/company9.png' %}" />
    </div>
</div>
{% endblock %}

