#home-hero {
  background-image: url('/static/img/home-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.1)
}
#home-hero form {
  position: relative;
  z-index: 10;
}
#home-hero form .inline-search {
  display: flex;
}
#home-hero form .inline-search button, #home-hero form .inline-search input {
  font-size: 12px;
}
#home-hero form .inline-search button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#home-hero form .inline-search button i {
  color: #000;
}
#home-hero form .inline-search input {
  min-height: 35px;
  padding-left: 30px;
  width: 300px;
  outline: none;
  background-image: url('/static/img/search.png');
  background-repeat: no-repeat;
  background-size: 15px auto;
  background-color: #fff;
  background-position: 5px 8px;
}

#cta-boxes {
  width: 500px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}
#cta-boxes .box {
  flex: 0 0 45%;
  border: 4px solid #3399cc;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#cta-boxes .box h5 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
}
#cta-boxes .box p {
  text-align: center;
  margin-bottom: 0px;
}
#cta-boxes .box button {
  font-size: 14px;
}