.container_part{
    width: 100%;
    position: relative;
    display: flex;
}
.container_part .container{
    left: 50%;
    transform: translateX(-50%);
}
.container_part img.back{
    width: 100%;
}

.slide_content{
    position: absolute;
    top: 28%;
    color: #324148;
}
.slide_content .right-text{
    float: right;
    padding-left: 20px;
}
.slide_content h1{
    line-height: 55px;
    margin-bottom: 30px;
}
.slide_content p{
    font-size: 16px;
    line-height: 32px;
}

.slide_content .subscription{
    margin: 30px auto 0;
    position: relative;
    box-shadow: 0 13px 20px rgba(166, 83, 160, 0.41);
}

.slide_content .subscription .btn{
    position: absolute;
    width: 220px;
    right: 0;
    top: 0;
    color: #fff;
    background: #A653A0;
}

.down-but{
    width: 50px;
    height: 50px;
    background: #A653A0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    z-index: 99999;
    cursor: pointer;
}

.second_content{
    position: absolute;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.second_content .row{
    width: 100%;
    margin: 50px 0;
}

.second_content .grid_item{
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    transition: 0.3s;
}
.second_content .grid_item>a {
    text-decoration: none;
    color: #fff;
}
.second_content .grid_item>a:hover {
    color: #324148;
}

.second_content .grid_item .icon{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.second_content .grid_item h3{
    margin: 20px 0;
    font-size: 19px;
}

.second_content .grid_item.active, .second_content .grid_item:hover{
    background: #fff;
    border-radius: 6px;
    color: #324148;
}

.second_content .grid_item.active .icon, .second_content .grid_item:hover .icon{
    background: #A653A0;
}
.workwithus{
    background: #CB6DC6;
    height: 200px;
    display: flex;
    align-items: center;
}

.workwithus .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workwithus h1{
    font-size: 35px;
}

.workwithus .btn{
    color: #A653A0;
    font-size: 18px;
    box-shadow: 0 13px 20px rgba(255,255,255,0.22);
}

.companies_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.companies_list h1, .companies_list p{
    color: #324148;
    text-align: center;
    margin-bottom: 30px;
}

.companies_list h1, .companies_list .image_list{
    text-align: center;
}

.companies_list h1, .companies_list img{
    margin: 30px 40px;
}

.testimonial-headline {
    background-image: url('/static/img/quote.png');
    background-repeat: no-repeat;
    padding-top: 12px;
    padding-left: 0px;
}
.testimonial-headline h5 {
    font-size: 32px;
    color: #324148;
    line-height: 36px;
}
.carousel {
    padding-top: 60px;
    background-color: #fff;
}
.carousel #slider .slide {
    padding: 52px 48px;
    box-shadow: -1px 13px 20px 0px #F0F2F4;
    margin: 45px 15px;
}
.carousel #slider .slide .primary {
    display: flex;
}
.carousel #slider .slide .primary .avatar {
    flex: 0 0 50px;
    margin-right: 20px;
}
.carousel #slider .slide .primary .avatar img {
    width: 100%;
    border-radius: 100%;
}
.carousel #slider .slide .primary .name-and-title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.carousel #slider .slide .primary .name-and-title .name, .carousel #slider .slide .primary .name-and-title .title {
    font-size: 14px;
    line-height: 16px;
    color: #F2B705;
}
.carousel #slider .slide .primary .name-and-title .title {
    color: #000;
}
.carousel #slider .slide .desc {
    margin-top: 40px;
    font-size: 14px;
    line-height: 16px;
    color: #324148;
}
.carousel .slider-buttons {
    display: flex;
    margin-top: 20px;
}
.carousel .slider-buttons .arrow {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    line-height: 48px;
    color: #555;
    background-color: #fff;
    box-shadow: -1px 13px 20px 0px #F0F2F4;
    cursor: pointer;
    transition: 0.3s;
}
.carousel .slider-buttons .arrow.prev {
    margin-right: 15px;
}
.carousel .slider-buttons .arrow:hover {
    background-color: #A653A0;
    color: #fff;
    box-shadow: 0px 25px 25px 0px #A653A0;
}